---
import Layout from "../layouts/Layout.astro";

const ratio = 5;

const dataApi = "https://carbdata.netlify.app/foods.json";
const foods = await fetch(dataApi).then(function (response) {
  return response.json();
});
---

<Layout>
  <form id="form">
    <label for="foods">Choose a food:</label>
    <select id="foods" name="foods">
      {
        foods.map((food) => (
          <option value={JSON.stringify(food)}>{food.name}</option>
        ))
      }
    </select>

    <label for="dryPortion">Dry portion weight (g)</label>
    <input type="number" name="dryPortion" />
    <button type="submit">Submit form</button>
  </form>

  <table id="results">
    <tr>
      <th>Total carbs (g)</th>
      <th>Dose (units)</th>
    </tr><tr>
      <td id="totalCarbs"></td>
      <td id="insulinDose"></td>
    </tr>
  </table>

  <script type="module" is:inline define:vars={{ ratio: ratio }}>
    import { totalCarbsAndDose } from "/js/carbwire.js";

    const form = document.getElementById("form");
    form.addEventListener("submit", function (event) {
      event.preventDefault();

      const data = JSON.parse(event.target[0].value);
      data.dryPortion = Number(event.target[1].value);
      data.ratio = ratio;

      const result = totalCarbsAndDose(data);

      document.getElementById("totalCarbs").textContent = result.totalCarbs;
      document.getElementById("insulinDose").textContent = result.dose;
      document.getElementById("results").style.display = "block";
    });
  </script>
</Layout>

<style>
  dl {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 20%;
  }

  button {
    margin-inline: auto;
  }

  table#results {
    display: none;
  }
</style>
