---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Roboto');

    body {
      font-family: "Roboto";
      margin: 2rem;
    }
</style>